@import "fonts";
@import "flex.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #ecf0f1;
}

h1,
h2,
h3,
h4 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  color: #9E9E9E;
}

h1 { font-size: 2em; }
h2 { font-size: 2em; }
h3 { font-size: 2em; }
h4 { font-size: 1em; }

.container {
  width: 600px;
  max-width: calc(100% - 16px);
  margin: 16px auto;
}

.absoluteInCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.textRight { text-align: right; }

.small {
  font-size: 12px;
  color: #7f8c8d;
}
