:local(.container) {
  display: block;

  @media all and (orientation: landscape) {
    display: flex;
  }

  .tumbnail {
    @media all and (orientation: landscape) {
      flex-grow: 0;
      padding: 8px;
    }
  }
  .infos {
    position: relative;
    padding: 8px 8px 32px 8px;
    box-sizing: border-box;

    @media all and (orientation: landscape) {
      flex-grow: 1;
      align-items: stretch;
    }

    .footer {
      position: absolute;
      bottom: 8px;
      right: 8px;
      height: 16px;
      line-height: 16px;
      color: #7f8c8d;
      font-size: 14px;

      .info {
        &:after {
          display: inline-block;
          content: "/";
          margin: 0 8px;
        }
        &:last-child:after {
          display: none;
        }
      }
    }
  }
}
