:local(.imgContainer) {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
  background-color: #95a5a6;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  @media all and (orientation: landscape) {
    width: 200px;
  }

  img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
